<div class="container">
  <h1>Create a list:</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photos, as: :file %>
    <%= f.submit  'Create it', class: 'btn btn-primary' %>
  <% end %>
</div>
